header{
	color: white;
	text-align: center;
}

section.head{
	height: 874px;
}

div.headDiv{

	background-color: rgba(0, 0, 0, 0); 
	background-image: url(computer.jpg);
	background-position: center center; 
	background-size: cover;
	height: 100%!important;
	position: relative;
	text-align: center;
	width: 100%;
}



h1.titulo{
	margin-top: 420px;
	width: 107%;
	padding: 10px;
	font-family: 'Timmana', sans-serif;
	font-size: 50px;
}

h1.titulo2{
	margin: 90px auto auto 39%;
	width: 400px;
	font-family: 'Timmana', sans-serif;
	font-size: 50px;
	text-align: center;
	border-bottom: 1px solid black;
	border-bottom-width: 2px;
}

p.pTitulo{
	font-family: 'Timmana', sans-serif;
	font-size: 30px;
	width: 107%;
}

p.pDG{
	font-family: 'Timmana', sans-serif;
	font-size: 30px;
	width: 107%;
	margin-top: 54%;
}
button.facebookIcon{
	background-image: url(Facebook.png);
	background-size: cover;
	height: 20px;
	width: 20px;
}

.image{
	display: block;
	height: auto;
	width: 30%;
	margin-top: 200px;
}

.overlay {
	position: absolute;
	top: 150px;
	bottom: 10px;
	left: 30px;
	right: 0;
	height: 63%;
	width: 122%;
	opacity: 0;
	transition: .7s ease;
	background-color: rgba(0,0,0,0.8);
	margin-top: 50px;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.imgdg{
	height: auto;
	width: 100%;
	margin-top: 70px;
}