body{
	background-color: #E8DFC9;
}


h1{
	/*margin-top: 10%;*/
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: black;
	font-size: 200%;
}

.card-content>h1{
	color: black;
	font-size: 150%;
	margin-top: 0.1%;
}

.card-content>p{
	text-align: left;
	color: black;
	font-size: 120%;
}

.card-content{
	height: 200px;
}

h2{
	/*margin-top: 7%;*/
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: black;
	font-size: 150%;
}

#perfil-izquierda{
	background-color: #ffffff;
	height: 669px;
}

#contenido-derecha {
	background-color: #ffffff ;
	height: 669px;

}

.foto-perfil{
	position: relative;
	width: 15%;
	display: block;
	margin: 5% auto 5% auto;
	/*border: 2px solid rgb(175,31,36);*/
}

.iconos{
	margin: auto;
	color: white;
}

.iconos2{
	margin: auto auto;
	color:white;
	margin-bottom: 10px;
}

.sobremi{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: black;
	font-size: 150%;
	margin: 0;
}

#contenido-derecha2{
	background-color: #ffffff;
	height: 100%;
	border-left: 2px solid black;
	margin-top: -20px;
}

#barra-izquierda{
	background-color: #ffffff;
	height: 100%;
	margin-top: -20px;
}

.progress{
	background-color: white;
	height: 13px;
}

.progress .determinate{
	background-color: rgb(175,31,36);
}

.icono{
	width: 60px;
	margin-left: -10px;
	margin-bottom: -10px;
}

.h1Derecha{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 300%;
	margin-top: 5%;
	text-align: center;
}

.h3Derecha{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 200%;
	margin-top: 5%;
	text-align: center;
}

.gris{
	filter: grayscale(100%);
	-webkit-filter: invert(100%);
}

.page-footer{
	background-color: #3c3c3c;
}

#bio{
	position: relative;
	display: block;
	margin: 25% auto 0% auto;
}

.parallax-container {

	height: 100%;
}

.parallax img { display: block; }

.parallax-header{
	color=#ffffff;
}

/*Rojo: rgb(175,31,36);
  Gris: #3c3c3c;*/